
.content {
    display: flex;
    flex-direction: column;
    width: calc(max(30vw, min(600px, 90vw)));
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.dxf_offset_form {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
